body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #f0f;
    box-shadow: 
        inset 0 0 50px #fff,
        inset 20px 0 50px rgb(233, 138, 252),
        inset 0 20px 50px rgb(233, 138, 252),
        /* inset 0 50px 0 purple, */
        0 0 60px #fff;
    color: #faa2cb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}
